!!! 5
%html
  %head
    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=utf-8"}
    %title bitserv
    %link{rel: "stylesheet", href: "/stylesheets/application.css", type: "text/css", media: "all"}
  %body
    = yield
